{
  "_comment": "====FOR Game_Spymode_Cog=============================================",
    "blue_team_button_label": "\uD83D\uDD35点我加入蓝色方",
    "red_team_button_label": "\uD83D\uDD34点我加入红色方",
    "random_button_label": "▶\uFE0F点我随机内鬼",
    "result_button_label": "㊙\uFE0F点我查看结果",
    "spymode_embed_title": "内鬼局 {game_id}",
    "spymode_embed_start_title":  "[游戏开始]内鬼局 {game_id}",
    "spymode_embed_end_title":  "[游戏结束]~~内鬼局 {game_id}~~",
    "spymode_embed_saved_title":  "[游戏快照] 内鬼局 {game_id}",
    "spymode_embed_footer": "-------点击下方按钮加入队伍，再次点击可退出队伍-------",
    "spymode_gameinfo": "- 发起用户：{name}\n- 每队人数：{team_size}\n- 每队内鬼：{spy}\n",
    "blue_team_name": ":blue_circle:蓝色方({team_size}人)",
    "red_team_name": ":red_circle:红色方({team_size}人)",
    "blue_team_result": ":blue_circle:蓝色方:spy:",
    "red_team_result": ":red_circle:红色方:spy:",
    "you_are_spy": "**你是:spy:__内鬼__:spy:！藏好自己！**",
    "you_are_not_spy": "你**不是***内鬼。:cop:帮你的队伍找出内鬼！:mag:",
    "full_team_message": "这个队伍已满！",
    "spymode_not_in_channel_message": "请加入一个语音频道以开始内鬼局。",
    "spymode_wrong_channel_message": "请和游戏发起人进入同一个语音频道以加入这局游戏。",
    "spymode_wrong_user_message": "只有游戏发起人才能使用。",
    "spymode_wrong_start_message": "必须两个队伍都正好满员才能开始游戏。",
    "spymode_wrong_team_size_message": "队伍人数必须大于等于3。",
    "spymode_wrong_spy_size_message": "内鬼人数必须小于队伍人数。",
    "_comment": "====================================================================="
}