{
    "_comment": "====FOR Rating_Cog===================================================",
    "rating_channel_id": 1145141919810,
    "_comment": "====================================================================="
}