{
    "_comment": "====Config File for Bird Bot=========================================",
	"_comment": "=====================================================================",
	"_comment": "====FOR main program bot.py or all cog===============================",
	"token": "YOUR_BOT_TOKEN",
    "logging_file": "./data/bot.log",
    "keyword_log_file": "./data/keyword_detection.log",
    "room_log_file": "./data/room_activity.log",
	"db_path": "./data/bot.db",
    "guild_id": 1145141919810,
	"_comment": "=====================================================================",
	"_comment": "====FOR Channel Validator=========================================",
	"admin_channel_id": 1145141919810,
	"_comment": "====================================================================="
}